#include <valarray>
#include <vector>
#include <cmath>
#include <iostream>
#include <ostream>
#include <fstream>
#include "./egmg/Stencil/StencilIncludes.h"
#include "./egmg/Restriction/RestrictionIncludes.h"
#include "./egmg/Relaxation/RelaxationIncludes.h"
#include "./egmg/Prolongation/ProlongationIncludes.h"
#include "./egmg/functions/functionsIncludes.h"
#include "./egmg/CycleType/CycleTypeIncludes.h"
#include "./egmg/general/parameters.h"
#include "./egmg/Function/FunctionIncludes.h"
#include "./egmg/functions/krylov.h"
#include "./egmg/Problem/ProblemIncludes.h"


using namespace mg;

void testInit()
{
    FCycle fCycle(1,1,3);
    VCycle vCycle(1,1,3);
    WCycle wCycle(1,1,3,2);
    std::vector<Index> gammas(3,2); //Equivalent to a WCycle
    LevelCycle levelCycle(1,1,gammas);

    BilinearInterpolation bilinearInterpolation;

    GSLexicographic gsLexicographic;

    FullWeighting fullWeighting;

    Biharmonic2D2 biharmonic2D2;
    ConDiff2D1 conDiff2D1;
    ConDiff2Dkap conDiff2Dkap;
    ConvectionDiffusion2D1 convectionDiffusion2D1;
    Helmholtz2D2 helmholtz2D2;
    Laplacian2D2 laplacian2D2;
    Laplacian2D4 laplacian2D4;
    MSV2D4 mSV2D4;
    JumpingCoefficients jumpingCoefficients;
    Galerkin galerkin(laplacian2D2);

    Zero zero;
    Constant constant(42);
    TestFunction1 testFunction1;
    TestRightSide1 testRightSide1;
}

int main()
{
    testInit();   
    const int k = 6;
    const size_t nx =static_cast<size_t>(std::pow(2.,k));
    const size_t ny = nx;
    Laplacian2D2 stencil;
    DirichletProblem problem(stencil,nx,ny);
    problem.setBoundaryConstraint(TestRightSide1());
    problem.setRightHandSide(TestFunction1());
    const size_t itmax = 100;
    size_t iterations = 0;
    const Precision eps = 1e-30;
    std::cout<<"Genauigkeit : "<<eps<<std::endl;
	GSLexicographic relaxation;
    Precision resnull = twonormResiduum(problem.getSolution(),problem.getRightHandSide(),problem.getStencil(),problem.getNx(),problem.getNy());//problem.residuum().max();
    Precision resnew = resnull;
    Precision resold = resnull;
	BilinearInterpolation prolongation;
	FullWeighting restriction;
    VCycle vCycle(2,2,k);
    //residues is used to store the intermediate residues, there are printed
    //after the cycle iterations because writing to std out takes a long time
    std::vector<Precision> residues;
    residues.push_back(resnull);
	size_t counter = 1;
    while (iterations<itmax && resnew/resnull>eps)
    {
		resold=resnew;
        cycle(vCycle,problem,prolongation,restriction,relaxation);
        resnew=twonormResiduum(problem.getSolution(),problem.getRightHandSide(),problem.getStencil(),problem.getNx(),problem.getNy());
        residues.push_back(resnew);
        std::cout<<resnew<<std::endl;
        if (resnew>resold && iterations>3)
        {
            std::cout<<"No convergence"<<std::endl;
            break;  
        }
		counter++;
        iterations++;
    }
    //print out the defects history
    convergenceRates(residues,std::cout);
    std::cout<<"Fehler = "<<error(problem.getSolution(),nx,ny,TestRightSide1())<<" It = "<<iterations<<std::endl;
    //std::ofstream plotData("data.dat");
    //gnuPlotDiscreteFunction(residuum(u,fv,stencil,nx,ny),nx,ny,plotData);*/
    return 0;
}
